node_modules
.next
.git
.github
.sisyphus
.opencode
.codex
.local-ignore
.playwright-mcp

*.sqlite*
planb.yml
.env
.env.*
!.env.example
!.env.test

tsconfig.tsbuildinfo
*.log
.DS_Store
*.pem
.vercel
coverage
build
out

.vscode
.idea
